.header {
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    flex: 3;
    height: 100%;
    display: flex;
}

/* BRANDS */

.header__brand {
    width: 25%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    background: #0d0d0f;
}

.header__brand div {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.header__brand div img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    transition: all 0.15s linear;
}

.header__brand div img:hover {
    transform: scale(1.5);
}

.header__brand div i {
    font-size: 30px;
    color: var(--text-color);
    transition: all 0.15s linear;
}

.header__brand div i:hover {
    color: var(--hover-text-color);
    transform: scale(1.2);
}

/* NAV BAR */
.header__navBar {
    background-color: #1A161E;
    width: 75%;
    padding: 40px 16px 20px;
}

.header__navBar li.active a {
    color: var(--hover-text-color);
}

.navBar {
    margin: 20px 0;
    border-bottom: 2px solid #68696f;
}

.navBar h2 {
    font-size: 16px;
    font-weight: 700;
    color: #ffa500;
}

.navBar li {
    list-style-type: none;
    margin: 24px 0;
    position: relative;
}

.navBar li a {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    display: inline-block;
}

.navBar__notify {
    position: absolute;
    top: -2px;
    right: 6px;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius:50%;
}

.navBar li a span {
    display: inline-block;
    position: absolute;
    left: 40px;
}

.navBar li a::before {
    content: "";
    position: absolute;
    left: -16px;
    border-width: 8px 8px;
    border-style: solid;
    border-color: transparent transparent transparent red;
    display: none;
    animation: arrowSlideIn linear 0.2s;
}

.navBar li:hover a{
    color: var(--hover-text-color);
}

.navBar li:hover a::before{
    display: block;
}

@keyframes arrowSlideIn {
    from {
        top: -8px;
        opacity: 0;
    }
    to {
        top: -2px;
        opacity: 1;
    }
}

.navBar li a i {
    padding-right: 10px;
}

.navBar__settings {
    border-bottom: none;
}


















.main__play .main__describe{
    display: flex;
    margin-top: 80px;
    margin-bottom: 40px;
    
}
.main__play .content{
    margin-left: 20px;
}
.main__play .content .text{
    color: yellow;
    margin-bottom: 10px;
}
.main__play .content .explain{
    color: white;
    font-weight: normal;
    font-size: 5px;
}
.checked {
    color: orange
}
.main__movie img{
    image-rendering: pixelated;
    object-fit: contain;
}
.main__server{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}
.main__server .block .change__server{
    min-height: 30px;
    min-width: 90px;
    top: 50%;
    background-color: orange;
    color: #fff;
    border-radius: 10px;
}
.main__server .block .server-1{
    min-height: 30px;
    min-width: 60px;
    top: 50%;
    background-color: black;
    color: #fff;
    border-radius: 10px;
}
.main__server .block .server-1:hover{
    background-color: red;
}
.main__server .block .server-2{
    min-height: 30px;
    min-width: 60px;
    top: 50%;
    background-color: black;
    color: #fff;
    border-radius: 10px;
}
.main__server .block .server-2:hover{
    background-color: red;
}




















/* @keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translate3d(0, -1rem, 0);
    }
  }
  .bouncing-loader {
    display: flex;
    justify-content: center;
  }
  .bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #8385aa;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
  }
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  } */